<!DOCTYPE html>
<html ng-app="store">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title></title>
  </head>
  <body ng-controller="StoreController as store">
    <div class="container-fluid">
      <div class="panel panel-default" ng-repeat="product in store.products | orderBy:'price'">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">{{product.name}}</div>
            <div class="col-xs-6 text-right">{{product.price | currency}}</div>
          </div>
        </div>
        <div class="panel-body">
          <img class="img-responsive center-block" ng-src="{{product.image}}" alt="">
          <br>
          <product-tabs></product-tabs>
              <blockquote ng-repeat="review in product.reviews">
                <b>Stars: {{review.stars}}</b>
                {{review.body}}
                <cite class="clearfix">- {{review.author}} on {{review.createdOn | date}}</cite>
              </blockquote>
              <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                <blockquote>
                  <strong>{{reviewCtrl.review.stars}} Stars</strong>
                  {{reviewCtrl.review.body}}
                  <cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
              </blockquote>
              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit" />
              </fieldset>
            </form>
            </div>
          </section>
        </div>
        <div class="panel-footer text-right">
          <button class="btn btn-primary">
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
